.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.black-nav {
  display: flex;
  background-color: rgb(255, 122, 122);
  width: 100%;
  color: white;
  padding-left: 20px;
  height: 100px;
  border-bottom: 1px solid black;
}

div {
  box-sizing: border-box;
}

.list {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
  width: 100%;
  background-color: white;
}

.modalContiner{
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal{
  width: 80%;
  margin: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.sortBtn {
  width: 100px;
  height: 35px;
    
  padding: 7px;
  background-color: gray(0, 0, 0);
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.btnBox{
  width: 100%;
  height: 70px;
  padding: 15px;
  text-align: right;
  border-bottom: 1px solid black;
  position: relative;
  background-color: white;

}

.itemBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.deleteItemBtn {
  position: relative;
  bottom: 20px;

  width: 70px;
  height: 35px;
  padding: 7px;
  background-color: gray(0, 0, 0);
  color: black;
  font-weight: 900;
  font-size: 14px;
}

.blogTitle {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 900;
}

.addContainer{
  width: 100%;
}

.addBlogContentBtnBox {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 122, 122);
}

.addBlogContentBtn {
  width: 50%;
  height: 35px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 0;
  font-weight: 800;
}

.addBlogContentInput {
  width: 250px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  border: 0;
}

.likeEmoticon {
  margin-left: 10px;
}

.inputContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.addBlogTitleInput{
  width: 50%;
  height: 30px;
  text-align: center;
  margin: 10px;
  border: 0;
  border-radius: 10px;
  
}

.addBlogContentInput{
  width: 50%;
  height: 400px;
}

.modalContiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogContentBtnContainer {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modifyBlogContent{
  width: 70px;
  height: 30px;
}