.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.black-nav {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  padding-left: 20px;
  height: 100px;
  border-bottom: 1px solid black;
}

div {
  box-sizing: border-box;
}

.list {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
  width: 100%;
}

.modalContiner{
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal{
  width: 80%;
  margin: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.blogContentCounterContainer {
  width: 100%;
  border-bottom: 1px solid black;
}

.blogContentCounter {
  text-align: left;
  padding-left: 20px;
  margin: 0;
  font-size: 17px;
}

.sortBtn {
  width: 100px;
  height: 35px;
  padding: 7px;
  background-color: black;
  color: white;
  font-weight: 900;
  font-size: 14px;
  border: 0;


  margin-top: 30px;
  margin-right: 20px;
}

.addContentBtn{
  width: 100px;
  height: 35px;
  padding: 7px;
  background-color: black;
  color: white;
  font-weight: 900;
  font-size: 14px;
  border: 0;
  margin-top: 10px;
  margin-right: 20px;
}

.btnBox{
  width: 100%;
  height: 70px;
  text-align: right;
  position: relative;
  background-color: white;
  border-bottom: 1px solid black;
}

.itemBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.deleteItemBtn {
  position: relative;
  bottom: 20px;

  width: 100px;
  height: 35px;
  padding: 7px;
  background-color: black;
  color: white;
  font-weight: 900;
  font-size: 14px;
  border: 0;
}

.blogTitle {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 900;
}

.addContainer{
  width: 100%;
}

.addBlogContentBtnBox {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.addBlogContentBtn {
  width: 50%;
  height: 35px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 0;
  font-weight: 800;
}

.addBlogContentInput {
  width: 250px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  border: 0;
  word-break:break-all;
}

.likeEmoticon {
  margin-left: 10px;
}

.inputContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.addBlogTitleInput{
  width: 50%;
  height: 30px;
  text-align: center;
  margin: 10px;
  border: 0;
  border-radius: 10px;
  
}

.addBlogContentInput{
  width: 50%;
  height: 400px;
}

.modalContiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogContentBtnContainer {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modifyBlogContent{
  width: 70px;
  height: 30px;
}

.addContentBtnContainer {
  width: 100%;
  text-align: right;
}