.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.black-nav {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  padding-left: 20px;
  height: 100px;
}

div {
  box-sizing: border-box;
}

.list {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
  width: 100%;
  background-color: #eee;
}

.modalContiner{
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal{
  width: 80%;
  margin: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.sortBtn {
  width: 100px;
  height: 35px;
    
  padding: 7px;
  background-color: gray(0, 0, 0);
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.btnBox{
  width: 100%;
  height: 70px;
  padding: 15px;
  text-align: right;
  border-bottom: 1px solid black;
  position: relative;

}

.itemBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.deleteItemBtn {
  position: relative;
  bottom: 20px;

  width: 70px;
  height: 35px;
  padding: 7px;
  background-color: gray(0, 0, 0);
  color: black;
  font-weight: 900;
  font-size: 14px;
}

.blogTitle {
  margin-top: 35px;
  font-size: 25px;
}

.addBlogContentBtnBox {
  width: 100%;
  padding: 20px;
}

.addBlogContentBtn {
  width: 70px;
  height: 30px;
}

.addBlogContentInput {
  width: 250px;
  height: 25px;
  text-align: center;
}

.likeEmoticon {
  margin-left: 10px;
}